<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css"> 
    <link rel="stylesheet" href="css/style1.css">
</head>

<body>
    <section  id="home">
        <!--   === Main Navbar Starts ===   -->
        <nav class="main-navbar">
          <a href="#" class="logo">
            <img src="/images/codemaestro.webp">
          </a>
          <ul class="nav-list">
            <li><a href="/">Home</a></li>
          
            <li><a href="/About">About</a></li>
            <li><a href="/Course">Courses</a></li>
            <li><a href="/Contact">Contact</a></li>
          </ul>
          <a href="/login" class="get-started-btn-container">
            <button class="get-started-btn btn">Sign-in</button>
          </a>
          <div class="menu-btn">
            <span></span>
          </div>
        </nav>
      </section>
    <section class="heading">
        <!--<div class="img-fluid">
          <img src="coaching1.jpg" class="img1"alt="">
        </div>
        <div class="content-about">-->
        <!--<p class="block"><em>Join With Us!!</em></p>-->
        <div class="waviy">
          <span style="--i:1">J</span>
          <span style="--i:2">O</span>
          <span style="--i:3">I</span>
          <span style="--i:4">N</span>
          <span style="--i:5">W</span>
          <span style="--i:6">I</span>
          <span style="--i:7">T</span>
          <span style="--i:8">H</span>
          <span style="--i:9">U</span>
          <span style="--i:10">S</span>
       
         </div>
       
        <p> <a href="/">home >></a> course </p>
        </div>
       </section>
       <section id="course-inner">
        <div class="overview">
            <img src="/images/c++.jpg" class="course-img "alt="">
            <div class="course-head">
                <div class="c-name">
                    <h2>C++ Course</h2>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-sharp fa-regular fa-star"></i>
                        <i class="fa-sharp fa-regular fa-star"></i>
                    </div>
                    <p><em>Welcome to the Comprehensive C++ Programming course! This course is designed to provide you with a solid foundation in C++ programming, <br>a versatile and powerful language widely used in software development, game development, and system programming.</em>
                    </p>
                    
                </div>
                <span>$10</span>
                </div>
                <h3>Instructor</h3>
                <div class="tutor">
                    <img src="/images/tapas1.jpg" alt="">
                    <div class="tutor-det">
                        <h5>Tapas Das</h5>
                        <p>Ex Senior Software Developer</p>
                    </div>
                </div>
            
            <hr>
            <h3>Course Overview</h3>
            <p>Throughout this course, you will explore the core concepts of C++ programming and progressively build your skills from basic syntax to advanced techniques.
                <br> Whether you're a beginner looking to learn your first programming language or an experienced developer aiming to master C++, this course is tailored to suit your needs.</p>
            <hr>
                <h3>what you'll learn!?</h3>
                <div class="learn">
                   
                    <p class="check"><i class="fa-regular fa-circle-check"></i>Basic Concepts Of C</p> 
                    <p class="check"><i class="fa-solid fa-circle-check"></i>Variables and Data Types</p>
                    <p class="check"><i class="fa-solid fa-circle-check"></i>Control Flow</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Functions and Modular Programming </p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Data Structures</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>File Handling</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Arrays & Pointers</p>
                     
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Dynamic Memory Allocation</p>
                     
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Introduction To Object-Oriented Programming(OOPs)</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Exception Handling</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Advvance Features(Multithreading,lambdaExpressions)</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Standar Template Library(STL)</p>
                </div>
            </div>
            <div class="enroll">
                <h3>This course includes:</h3>
                    <p><i class="fa-regular fa-lightbulb"></i>Hands-on projects and exercises</p>
                     <p><i class="fa-regular fa-pen-to-square"></i>Regular quizzes and assessment</p>
                     <p><i class="fa-regular fa-comment"></i>Prerequisites: None.</p>
                     <p><i class="fa-regular fa-hourglass-start"></i>Duration: 15 week.</p>
                     <p><i class="fa-regular fa-clipboard-question"></i>Interview preparetion</p>
                    <div class="enroll-btn">
                        <a href="/contact"class="blue">Enroll Now</a>
                    </div>
            </div>
       </section>
       <section class="footer" id="foot">
    
        <div class="footer-info">
        <div class="footer-links">
          <h3 id="test">Quick Links</h3>
          <ul>
            <li><a href="/"><i class="fa-light fa-greater-than"></i>Home</a></li>
            <li><a href="/About"><i class="fa-light fa-greater-than"></i>About Us</a></li>
            <li><a href="/Course"><i class="fa-light fa-greater-than"></i>Courses</a></li>
            <li><a href="/contact"><i class="fa-light fa-greater-than"></i>Contact</a></li>
            
          </ul>
        </div>
        <div class="footer-map">
          <p><i class="fa-sharp fa-solid fa-location-dot"></i>Address</p>
          <hr>
          <p>Khushi Niwas (2nd Floor), Natagarh Main Rd., Sodepur,<br>
            Kolkata-700113 (Behind Provasini Community Hall)
            
            </p>
            <div class="img">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29445.243178797606!2d88.36878121165563!3d22.703868781469158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x296e29aad18af407%3A0xa69359ed72b8ba77!2sCodeHub%20Sodepur!5e0!3m2!1sen!2sin!4v1710702549842!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" ></iframe>
            </div>
        </div>
  
        </div>
        <div class="copyright">
          <p > Developed by <em>@DevCommunity</em><span>||</span><span>Copyrights Reserved </span></p>
        </div>
      
    </section>
<script src="js/script.js"></script>
</body>
</html>
