<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css"> 
    <link rel="stylesheet" href="css/style1.css">
    
</head>
<body>
   <div class="website-container">
	
        <!--   *** Home Section Starts ***   -->
        <section  id="home">
          <!--   === Main Navbar Starts ===   -->
          <nav class="main-navbar">
            <a href="#" class="logo">
              <img src="/images/codemaestro.webp">
            </a>
            <ul class="nav-list">
              <li><a href="/">Home</a></li>
            
              <li><a href="/About">About</a></li>
              <li><a href="/Course">Courses</a></li>
              <li><a href="/Contact">Contact</a></li>
            </ul>
            <a href="/login" class="get-started-btn-container">
              <button class="get-started-btn btn">Sign-in</button>
            </a>
            <div class="menu-btn">
              <span></span>
            </div>
          </nav>
        </section>
        <section class="heading">
         <!-- <div class="img-fluid">
            <img src="coaching1.jpg" class="img1"alt="">
          </div>-->
         <!--<div class="content-about">-->
          <!--<p class="block"><em>Join With Us!!</em></p>-->
          <div class="waviy">
            <span style="--i:1">J</span>
            <span style="--i:2">O</span>
            <span style="--i:3">I</span>
            <span style="--i:4">N</span>
            <span style="--i:5">W</span>
            <span style="--i:6">I</span>
            <span style="--i:7">T</span>
            <span style="--i:8">H</span>
            <span style="--i:9">U</span>
            <span style="--i:10">S</span>
         
           </div>
         
          <p> <a href="/">home >></a> course </p>
          
         </section>
         <section id="course-inner">
            <div class="overview">
                <img src="/images/classroom.jpg" class="course-img "alt="">
                <div class="course-head">
                    <div class="c-name">
                        <h2>Classroom Course</h2>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-regular fa-star"></i>
                            <i class="fa-sharp fa-regular fa-star"></i>
                        </div>
                        <p><em>Welcome to the Computer Science curriculum designed for students in grades 8 through 12! This comprehensive program is tailored to provide students with a solid foundation in computer science principles, programming concepts, and practical skills essential for success in the digital .</em></p>
                        
                    </div>
                    <span>$10</span>
                    </div>
                    <h3>Instructor</h3>
                    <div class="tutor">
                        <img src="/images/tapas1.jpg" alt="">
                        <div class="tutor-det">
                            <h5>Tapas Das</h5>
                            <p>Ex Senior Software Developer</p>
                        </div>
                    </div>
                
                <hr>
                <h3>Course Overview</h3>
                <p>
                <hr>Students will participate in practical exercises, projects, coding challenges, and engaging conversations that promote critical thinking, creativity, and teamwork throughout the program. 
                <br>Students will have a solid foundation in computer science at the end of the program, making them ready to go on to enhance their education or pursue professions in technology-related sectors.</p>
                    <h3>what you'll learn!?</h3>
                    <div class="learn">
                        <p><i class="fa-regular fa-pen"></i><u>Module 1:Introduction to Computer Science </u></p>
                        <p class="check"><i class="fa-regular fa-circle-check"></i>Overview of Computing Concepts</i></p> 
                        <p class="check"><i class="fa-solid fa-circle-check"></i>History and Evolution of Computers</p>
                        <p class="check"><i class="fa-solid fa-circle-check"></i>Importance of Computer Science in Modern Society</p>
                        
                         <p><i class="fa-regular fa-pen"></i><u>Module 2:Programming Fundamentals</u></p>
                         <p class="check"><i class="fa-solid fa-circle-check"></i>Introduction to Programming Languages (e.g., Python,Java)</p>
                         <p class="check"><i class="fa-solid fa-circle-check"></i>Basic Syntax and Control Structures</p>
                         <p class="check"><i class="fa-solid fa-circle-check"></i>Variables, Data Types, and Functions.</p>
                         <p class="check"><i class="fa-solid fa-circle-check"></i>Recursion and File Handling</p>
                         
                         <p><i class=" fa-regular fa-pen"></i><u>Module 3: Algorithms and Problem Solving</u></p>
                         <p><i class="fa-solid fa-circle-check"></i>Understanding Algorithms and Flowcharts</p>
                         <p><i class="fa-solid fa-circle-check"></i>Problem-solving Techniques</p>
                         <p><i class="fa-solid fa-circle-check"></i>Implementing Algorithms in Code</p>
                         
                         <p><i class=" fa-regular fa-pen"></i><u>Module 4: Computer Networks</u></p>
                         <p><i class="fa-solid fa-circle-check"></i>Network Topologies and Protocols</p>
                         <p><i class="fa-solid fa-circle-check"></i>TCP/IP Model and OSI Model</p>
                         <p><i class="fa-solid fa-circle-check"></i>Network Security Fundamentals</p>
                         
                         <p><i class=" fa-regular fa-pen"></i><u>Module 5: Web Development Basics</u></p>
                         <p><i class="fa-solid fa-circle-check"></i>HTML, CSS, JavaScript</p>
                         <p><i class="fa-solid fa-circle-check"></i>Introduction to JavaScript</p>
                         <p><i class="fa-solid fa-circle-check"></i>Building Simple Web Pages and Applications. </p>

                         <p><i class=" fa-regular fa-pen"></i><u>Module 6: Advanced Programming Concepts</u></p>
                         <p><i class="fa-solid fa-circle-check"></i>Object-Oriented Programming (OOP) Principles</p>
                         <p><i class="fa-solid fa-circle-check"></i>Inheritance, Polymorphism, Encapsulation</p>
                         <p><i class="fa-solid fa-circle-check"></i>Advanced Data Structures and Algorithms. </p>
                         <p class="check"><i class="fa-solid fa-circle-check"></i>Creating and Importing user-defined Packages.</p>
                         
                         <p><i class=" fa-regular fa-pen"></i><u>Module 7: Advanced Web Development</u></p>
                         <p><i class="fa-solid fa-circle-check"></i>Server-side Scripting (e.g., PHP, Node.js)</p>
                         <p><i class="fa-solid fa-circle-check"></i>Database Integration (e.g., MySQL, SQLite).</p>
                         <p><i class="fa-solid fa-circle-check"></i>Dynamic Web Applications and APIs. </p>

                         <p><i class=" fa-regular fa-pen"></i><u>Module 8:Trends in Computing and Ethical Issues</u></p>
                         <p><i class="fa-solid fa-circle-check"></i>Artificial Intelligence, Internet of Things, Virtual Reality and Augmented Reality</p>
                         <p><i class="fa-solid fa-circle-check"></i>Cyber Security, privacy, netiquette, spam, phishing..</p>
                         <p><i class="fa-solid fa-circle-check"></i>Intellectual property, Software copyright and patents and Free Software Foundation. </p>

                         <p><i class=" fa-regular fa-pen"></i><u>Module 9: Boolean Algebra</u></p>
                         <p><i class="fa-solid fa-circle-check"></i>Numer System, Prepositional Logic</p>
                         <p><i class="fa-solid fa-circle-check"></i>Logic Gates ,Boolean algebra.</p>
                         <p><i class="fa-solid fa-circle-check"></i>De-Morgan's law, SOP,POS </p>
                         <p><i class="fa-solid fa-circle-check"></i>Complex Digital Circuit(Encoder,Decoder,Half Adder,Full Adder) </p>
                         
                         
                    </div>
                    <div class="flex-btn">
                      <a href="/course-inner"class="btn1"> Next</a>
                      <a href="/university"class="btn1">Prev</a></div>
                  </div>
                
                <div class="enroll">
                    <h3>This course includes:</h3>
                        <p><i class="fa-regular fa-lightbulb"></i>Hands-on coding exercises</p>
                         <p><i class="fa-regular fa-pen-to-square"></i>Regular Quizzes and assessment</p>
                         <p><i class="fa-regular fa-comment"></i>Prerequisites:Basic familiarity with using computers and the internet .</p>
                         <p><i class="fa-regular fa-hourglass-start"></i>Duration:School academic Calender and scheduling Preferences.</p>
                         <p><i class="fa-regular fa-clipboard-question"></i>Study Materials</p>

                        <div class="enroll-btn">
                            <a href="/contact"class="blue">Enroll Now</a>
                        </div>
                </div>
           </section>
         <section class="footer" id="foot">
    
            <div class="footer-info">
            <div class="footer-links">
              <h3 id="test">Quick Links</h3>
              <ul>
                <li><a href="/"><i class="fa-light fa-greater-than"></i>Home</a></li>
          <li><a href="/About"><i class="fa-light fa-greater-than"></i>About Us</a></li>
          <li><a href="/Course"><i class="fa-light fa-greater-than"></i>Courses</a></li>
          <li><a href="/contact"><i class="fa-light fa-greater-than"></i>Contact</a></li>
                
              </ul>
            </div>
            <div class="footer-map">
              <p><i class="fa-sharp fa-solid fa-location-dot"></i>Address</p>
              <hr>
              <p>Khushi Niwas (2nd Floor), Natagarh Main Rd., Sodepur,<br>
                Kolkata-700113 (Behind Provasini Community Hall)
                
                </p>
                <div class="img">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29445.243178797606!2d88.36878121165563!3d22.703868781469158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x296e29aad18af407%3A0xa69359ed72b8ba77!2sCodeHub%20Sodepur!5e0!3m2!1sen!2sin!4v1710702549842!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" ></iframe>
                </div>
            </div>
      
            </div>
            <div class="copyright">
              <p > Developed by <em>@DevCommunity</em><span>||</span><span>Copyrights Reserved </span></p>
            </div>
          
        </section>
        </div>
	<script src="js/script.js"></script>
</body>
</html>
