<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style1.css">
</head>
<body>
    
    <div class="website-container">
	
        <!--   *** Home Section Starts ***   -->
        <section  id="home">
          <!--   === Main Navbar Starts ===   -->
          <nav class="main-navbar">
            <a href="#" class="logo">
              <img src="/images/codemaestro.webp">
            </a>
            <ul class="nav-list">
              <li><a href="/">Home</a></li>
            
              <li><a href="/About">About</a></li>
              <li><a href="/Course">Courses</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
            <a href="/login" class="get-started-btn-container">
              <button class="get-started-btn btn">Sign-in</button>
            </a>
            <div class="menu-btn">
              <span></span>
            </div>
          </nav>
          <div class="img-fluid">
            <img src="/images/Coursebanner.jpg"class="img1" alt="">
          </div>
        </section>
   <!--<div class="heading">
    <p class="block"><em>Join With Us!!</em></p>
    <p> <a href="home.html">home >></a> course </p>
   </div>-->


    
    <section class="neon bd-container">
        <h1 class="head"><em>Top Courses</em></h1>
        <div class="neon__container">
            <div class="neon__card" >
                <img src="/images/python.jpeg"class="neon__icon"alt="python"/>
                <h1 class="neon__title">Python</h1>
                <p class="neon__description">Python is a general purpose, high level language that emphasizes on code readability.</p>
                <a href="/python" class="neon__button">Learn More
                    
                </a>
                <div class="cost">$10</div>
            </div>

            <div class="neon__card">
                <img src="/images/java.jpeg"class="neon__icon"alt="java"/>
                <h1 class="neon__title">Java</h1>
                <p class="neon__description">Java is C++ without the guns, clubs and knives.” ~ James Gosling.</p>
                <a href=" /java" class="neon__button">Learn More
                    
                </a>
                <div class="cost">$10</div>
            </div>

            <div class="neon__card">
                <img src="/images/C-prog.jpeg"class="neon__icon"alt="c_prog"/>
                <h1 class="neon__title">C</h1>
                <p class="neon__description">c makes it easy to shoot yourself in the foot;c++ makes it harder, but when you do, it blows your whole leg off. .</p>
                <a href="/c" class="neon__button">Learn More
                   
                </a>
                <div class="cost">$10</div>
            </div>
            <div class="neon__card">
                <img src="/images/c++.jpg"class="neon__icon"alt="c++"/>
                <h1 class="neon__title">C++</h1>
                <p class="neon__description">“When you finally get your C++ code to compile without errors:I guess I’m a wizard now.”.</p>
                <a href="/c-plus" class="neon__button">Learn More</a>
                <div class="cost">$10</div>
            </div>
            <div class="neon__card">
                
                <img src="/images/plsql.jpeg"class="neon__icon"alt="plsql"/>
                <h1 class="neon__title">PLSQL</h1>
                <p class="neon__description">“Why did the PL/SQL developer break up with their database? It had too many commitment issues!” 💔.</p>
                <a href="/plsql" class="neon__button">Learn More </a>
                <div class="cost">$10</div>
            </div>
            <div class="neon__card">
                
                <img src="/images/mysql.jpeg"class="neon__icon"alt="MySQL"/>
                <h1 class="neon__title">MySQL</h1>
                <p class="neon__description">“A SQL query walks into a bar, approaches two tables, and asks, ‘Can I join you?’”.</p>
                <a href="/mysql" class="neon__button">Learn More
                    
                </a>
                <div class="cost">$10</div>
            </div>
            <div class="neon__card">
                <img src="/images/jdbc.jpg"class="neon__icon"alt="jdbc"/>
                <h1 class="neon__title">JDBC</h1>
                <p class="neon__description">“My love life is like a JDBC connection: always trying to establish, but often ends up in a timeout.” ⏳.</p>
                <a href="/jdbc" class="neon__button">Learn More
                    
                </a>
                <div class="cost">$10</div>
            </div>
            <div class="neon__card">
                
                <img src="/images/jquery.jpg"class="neon__icon"alt="jquery"/>
                <h1 class="neon__title">JQuery</h1>
                <p class="neon__description">“I’m not lazy; I’m just on $(document).ready() mode.”.</p>
                <a href="/jquery" class="neon__button">Learn More
                    
                </a>
                <div class="cost">$10</div>
            </div>
            <div class="neon__card">
                <img src="/images/nodejs.webp"class="neon__icon"alt="nodejs"/>
                <h1 class="neon__title">NODE.js</h1>
                <p class="neon__description">“Debugging Node.js feels like untangling a callback hell.”.</p>
                <a href="/Node" class="neon__button">Learn More 
                    
                </a>
                <div class="cost">$10</div>
            </div>
            <div class="neon__card">
                <img src="/images/seo.jpeg"class="neon__icon" alt="">
                <h1 class="neon__icon">SEO</h1>
                <p class="neon__description">“Good SEO work only gets better over time. It’s only search engine tricks that need to keep changing when the ranking algorithms change.” – Jill Whalen.</p>
                <a href="/seo" class="neon__button">Learn More
                    
                </a>
                <div class="cost">$10</div>
            </div>
            <div class="neon__card">
                <img src="/images/php.jpeg"class="neon__icon"alt="class"/>
                <h1 class="neon__title">Php</h1>
                <p class="neon__description">Get ready for a session to set cookies with Php otherwisw session will be expired soon.</p>
                <a href="/php" class="neon__button">Learn More
                    
                </a>
                <div class="cost">$10</div>
            </div>
            <div class="neon__card">
                <img src="/images/laravel.png"class="neon__icon"alt="college"/>
                <h1 class="neon__title">Laravel</h1>
                <p class="neon__description"> Laravel is built on top of the PHP programming language, so having a solid understanding of PHP is essential.</p>
                <a href="/laravel" class="neon__button">Learn More
                    
                </a>
                <div class="cost">$15</div>
            </div>
        </div>
    </section>
    <section class="footer">
    
        <div class="footer-info">
        <div class="footer-links">
          <h3 id="test">Quick Links</h3>
          <ul>
          <li><a href="/"><i class="fa-light fa-greater-than"></i>Home</a></li>
          <li><a href="/About"><i class="fa-light fa-greater-than"></i>About Us</a></li>
          <li><a href="/Course"><i class="fa-light fa-greater-than"></i>Courses</a></li>
          <li><a href="/contact"><i class="fa-light fa-greater-than"></i>Contact</a></li>
            
          </ul>
        </div>
        <div class="footer-map">
          <p><i class="fa-sharp fa-solid fa-location-dot"></i>Address</p>
          <hr>
          <p>Khushi Niwas (2nd Floor), Natagarh Main Rd., Sodepur,<br>
            Kolkata-700113 (Behind Provasini Community Hall)
            
            </p>
            <div class="img">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29445.243178797606!2d88.36878121165563!3d22.703868781469158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x296e29aad18af407%3A0xa69359ed72b8ba77!2sCodeHub%20Sodepur!5e0!3m2!1sen!2sin!4v1710702549842!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" ></iframe>
            </div>
        </div>
  
        </div>
        <div class="copyright">
          <p > Developed by <em>@DevCommunity</em><span>||</span><span>Copyrights Reserved </span></p>
        </div>
      
    </section>
    </div>
    <script src="js/script.js"></script>

</body>
</html>