<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coaching Institute</title>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style1.css">
    

    <!--<link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

	<!--  *****   Link To Owl Carousel   *****  -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>-->


    
</head>
<body>
  <div class="website-container">
	
    <!--   *** Home Section Starts ***   -->
    <section class="home">
      <!--   === Main Navbar Starts ===   -->
      <nav class="main-navbar">
        <a href="#" class="logo">
          <img src="/images/codemaestro.webp">
        </a>
        <ul class="nav-list">
          <li><a href="/">Home</a></li>
        
          <li><a href="/About">About</a></li>
          <li><a href="/Course">Courses</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <a href="/login" class="get-started-btn-container">
          <button class="get-started-btn btn">Sign-Up</button>
        </a>
        <div class="menu-btn">
          <span></span>
        </div>
      </nav>
      <div class="banner2">
        <div class="slider2">
            <img src="/images/logo2.png" alt=""id="slideimg">
        </div>
       <div class="overlay2"></div>
       
    </div>
    <div class="banner">
      <div class="  banner-desc">
       <h2><em>“Unlock Your Code Wizardry at CodeMaestro Where Dreams Compile into Reality”</em></h2>
       <p></p>
       <form class="search-bar"method='POST'action="/search"name="form1">
         <input type="search" placeholder="Search Your Course"id="search-input"name="searchname">
         <button type="submit"><i class="fa-solid fa-search"id='search-icon'></i></button>
       </form>
     </div>
      </div>
      <!--   === Main Navbar Ends ===   -->
      <!--   === Banner Starts ===   -->
      
      
    
       <!---<div class=" banner-img">
          <div class="banner-img-container">
            <img src="logo2.png">
    
            <div class="states">
              <div class="total-courses">
                <div class="icon">
                  <i class="fa-solid fa-book"></i>
                </div>
                <div class="desc">
                  <span>10+</span>
                  <span>Total Courses</span>
                </div>
              </div>-->
    
              <!--<div class="courses-ratings">
                <span>4.7<i class="fa-solid fa-star"></i></span>
                <span>Ratings (58k)</span>
              </div>-->
            </div>
    
           <!-- <div class="pattern">
              <img src="home/pattern.png">
            </div>-->
    
          </div>
    
        
  
      
      <!--   === Banner Ends ===   -->
    </section>
    <!--===Service section starts-->
    <section class="services" id="services">
      <!--   *** Services Header Starts ***   -->
      <header class="section-header">
        <h1><em>Why Choose Us!!!</em></h1>
        <p>An institution that offers a wide range of computer courses to make learning to code hassle-free. 
          Coding is now the most in-demand ability; as a result, it has changed the game and given those who are proficient in it a competitive edge in the workplace.
           CodeMaestro will assist students in excelling academically and gaining exceptional grades in addition to teaching them how to code from the start of their technological careers.</p>
      </header>
      <!--   *** Services Header Ends ***   -->
      <!--   *** Services Contents Starts ***   -->
      <div class="services-contents">
    
        <div class="service-box">
          <div class="service-icon">
            <i class="fa-solid fa-calendar"></i>
          </div>
          <div class="service-desc">
            <h2>Flexible Timing</h2>
            <p style="color: chocolate;font-weight: 700;"> We understand that every student has a unique routine and commitments.
              <br>Our coaching institute provides a range of class timings throughout the day.
              <br>With our online learning platform, students have the flexibility to attend classes from anywhere, at any time </p>
          </div>
        </div>
    
        <div class="service-box">
          <div class="service-icon">
            <i class="fa-solid fa-users"></i>
          </div>
          <div class="service-desc">
            <h2>Expert Teacher</h2>
            <p style="color: chocolate;font-weight: 700;">Our coaching institute is staffed with a  highly experienced and qualified teacher who bring years of expertise to the classroom and IT sector.
              Our teachers maintain open communication channels with students and parents.</p> 
          </div>
        </div>
    
        <div class="service-box">
          <div class="service-icon">
            <i class="fa-solid fa-clock"></i>
          </div>
          <div class="service-desc">
            <h2>Hands-On Experience</h2>
            <p style="color: chocolate;font-weight: 700;">In our institute,for those who can't afford PC or laptop, we offer machine for hands-on practical experience to learn how coding works 
              and how to configure all the neccessary tools which require for our learning.Students will get a chance to use our machine in alternativel way</p>
          </div>
        </div>
    
      </div>
      <!--   *** Services Contents Ends ***   -->
    </section>
    <section class="categories">
      <div class="categories-container">
        <div class="categories-left">
          <h1 style="font-size: 2.2rem;">Browse Courses By Categories</h1>
          <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 1.3rem;">
            we embark on an enriching journey to unlock the full potential of computer science!So find out all the courses what you want
            <br> and let's start from the scratch!!
          </p>
          <a href="/course-inner"class="btn">Learn More</a>
        </div>
        <div class="categories-right">
          <article class="category1">
            <span class="category-icon"><i class="fa-solid fa-code"></i></span>
              <h3>Frontend-Development</h3>
    
              <p>The user experience is the main emphasis of front-end development. As front-end developers, you create the components of an application that end users can access directly using the associated code and design methodologies. 
                </p>
            
          </article>
          <article class="category1">
            <span class="category-icon"><i class="fa-solid fa-server"></i></span>
              <h3>Backend Development</h3>
              <p>A backend developer is a proficient software engineer who is in charge of, or has the necessary expertise to plan, create, test, and comprehend an application's server-side or business logic.
                </p>
            
          </article>
          <article class="category1">
            <span class="category-icon"><i class="fa-solid fa-school"></i></span>
    
              <h3>Classroom Courses</h3>
              <p>We provide teaching for students in grade 8 to 12.Our curriculum is designed to introduce students to the exciting world of technology and equip them with essential skill.
                
              </p>
            
          </article>
          <article class="category1">
            <span class="category-icon"><i class="fa-solid fa-building-columns"></i></span>
              <h3>University Courses</h3>
              <p>Our curriculum is tailored to provide students in program  such as BCA, B.Tech, and BSc with a comprehensive understanding of computer science principles and applications.</p>
          </article>
        </div>
      </div>
    </section>
    <section class="courses" id="courses">
      <!--   *** Courses Header Starts ***   -->
      <header class="section-header">
        <div class="header-text">
          <h1>Choose Your Favourite Course</h1>
        <p><em>We are here with great oppertunity of learning various computer science courses from where you can upgrade your skill based on current trends.</em></p>
        </div>
        <button class="courses-btn btn"onclick="window.location.href='/course'">View All</button>
      </header>
      <!--   *** Courses Header Ends ***   -->
      <!--   *** Courses Contents Starts ***   -->
      <div class="course-contents">
        
        <div class="course-card">
          <img src="/images/c++.jpg">
          <div class="category">
            <div class="subject"><h3>C++</h3></div>
          
          </div>
          <h2 class="course-title">Learn C++:Develop operating systems, browsers, games, and so on</h2>
          <div class="course-desc">
            <span><i class="fa-solid fa-video"></i> 30 classes</span>
            <span><i class="fa-solid fa-users"></i> 80+ Students</span>
          </div>
          <div class="course-ratings">
            <span>4.9 <i class="fa-solid fa-star"></i></span>
            <span><b>$</b>10.00</span>
          </div>
        </div>
    
        <div class="course-card">
          <img src="/images/jdbc.jpg">
          <div class="category">
            <div class="subject"><h3>JDBC</h3></div>
            
          </div>
          <h2 class="course-title">Learn JDBC:Java API to connect the database and execute the query</h2>
          <div class="course-desc">
            <span><i class="fa-solid fa-video"></i> 8 classes</span>
            <span><i class="fa-solid fa-users"></i>  30+Students</span>
          </div>
          <div class="course-ratings">
            <span>4.9 <i class="fa-solid fa-star"></i></span>
            <span><b>$</b>10.00</span>
          </div>
        </div>
    
        <div class="course-card">
          <img src="/images/mysql.jpeg">
          <div class="category">
            <div class="subject"><h3>MySQL</h3></div>
        
          </div>
          <h2 class="course-title">Learn MySQL:Relation Database Management Software used to manage relation database. </h2>
          <div class="course-desc">
            <span><i class="fa-solid fa-video"></i> 20 classes</span>
            <span><i class="fa-solid fa-users"></i> 30+ Students</span>
          </div>
          <div class="course-ratings">
            <span>4.9 <i class="fa-solid fa-star"></i></span>
            <span><b>$</b>10.00</span>
          </div>
        </div>
      </div>
    </section>
    
  <section class="top-student">
    <div class="slide-container">
  <div class="swiper mySwiper">
    <p class="popular">Top Students</p>
       
    <div class="swiper-wrapper">

      <div class="card swiper-slide swiper-slide-active">
        <div class="card__image">
          <img src="/images/ambapika.jpeg" alt="card image">
        </div>
       
        <div class="card__content">
          
          <span class="card__name">Ambapika Roy</span>
          <p class="card__text">Performance In Computer</p>
          <p class="card__btn">ICSE-99/100<span>ISC-96/100</span></p>
        </div>
      </div>

      <div class="card swiper-slide swiper-slide-active">
        <div class="card__image">
          <img src="/images/tania.jpeg" alt="card image">
        </div>

        <div class="card__content">
    
          <span class="card__name">Tania Bhattacharya</span>
          <p class="card__text">Performance In Computer</p>
          <p class="card__btn">ICSE-100/100</p>
        </div>
      </div>

      <div class="card swiper-slide swiper-slide-active">
        <div class="card__image">
          <img src="/images/arco.jpg" alt="card image">
        </div>

        <div class="card__content">
         
          <span class="card__name">Arco Das</span>
          <p class="card__text">Performance in Computer</p>
          <p class="card__btn">ICSE-97/100<span>ISC-98/100</span></p>
        </div>
      </div>

      <div class="card swiper-slide swiper-slide-active">
        <div class="card__image">
          <img src="/images/debrup.jpeg" alt="card image">
        </div>

        <div class="card__content">
          
          <span class="card__name">Debrup Chatterjee</span>
          <p class="card__text">Performance In Computer</p>
          <p class="card__btn">ICSE-100/100</p>
        </div>
      </div>
      <div class="card swiper-slide swiper-slide-active ">
        <div class="card__image">
          <img src="/images/srija.jpeg" alt="card image">
        </div>

        <div class="card__content">
          
          <span class="card__name">Srija Basu</span>
          <p class="card__text">Performance In Computer</p>
          <p class="card__btn">ICSE-99/100</p>
        </div>
      </div>

    </div>
  </div>
    </div>
  </section>
  <section class="job">
    
  <div class="slide-container  ">
    
    <div class="slide-content swiper ">
      <p class="popular">Job Holder</p>
        <div class="card-wrapper swiper-wrapper">
            <div class="card1 swiper-slide swiper-slide-active"style="width:280px;!important">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="/images/senjuti.png" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">Senjuti Roy</h2>
                    <p class="description">Placed at Deloite.</p>
                    <p class="card-btn">2023</p>
                    
                </div>
            </div>
            <div class="card1 swiper-slide swiper-slide-active"style="width:280px;!important">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="/images/srija.jpeg" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">Srija Basu</h2>
                    <p class="description">Placed at Delloite.</p>
                    <p class="card-btn">2023</p>
                   
                </div>
            </div>
            <div class="card1 swiper-slide swiper-slide-active"style="width:280px;!important">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="/images/niloj.jpg" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">Niloj Mukhopadhay</h2>
                    <p class="description">Placed at Senyrsa Technologies Pvt Ltd.</p>

                    <p class="card-btn">2024</p>
                </div>
            </div>
            <div class="card1 swiper-slide swiper-slide-active" style="width:280px;">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="/images/ahana.jpg" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">Ahana Pradhan</h2>
                    <p class="description">Placed at Accenture .</p>

                    <p class="card-btn">2024</p>
                </div>
            </div>
           
            
           
            
            
                
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
       
        
    </div>
    
    

  </section>
  <section class="footer" id="foot">
    
    <div class="footer-info">
    <div class="footer-links">
      <h3 id="test">Quick Links</h3>
      <ul>
       <li><a href="/"><i class="fa-light fa-greater-than"></i>Home</a></li>
          <li><a href="/About"><i class="fa-light fa-greater-than"></i>About Us</a></li>
          <li><a href="/Course"><i class="fa-light fa-greater-than"></i>Courses</a></li>
          <li><a href="/contact"><i class="fa-light fa-greater-than"></i>Contact</a></li>
        
      </ul>
    </div>
    <div class="footer-map">
      <p><i class="fa-sharp fa-solid fa-location-dot"></i>Address</p>
      <hr>
      <p>Khushi Niwas (2nd Floor), Natagarh Main Rd., Sodepur,<br>
        Kolkata-700113 (Behind Provasini Community Hall)
        
        </p>
        <div class="img">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29445.243178797606!2d88.36878121165563!3d22.703868781469158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x296e29aad18af407%3A0xa69359ed72b8ba77!2sCodeHub%20Sodepur!5e0!3m2!1sen!2sin!4v1710702549842!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" ></iframe>
        </div>
    </div>

    </div>
    <div class="copyright">
      <p > Developed by <em>@DevCommunity</em><span>||</span><span>Copyrights Reserved </span></p>
    </div>
  
</section>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.7.1.js"></script>

<!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 1,
      coverflowEffect: {
        rotate: 0,
        stretch: 0,
        depth: 300,
        modifier: 1,
        slideShadows: false,
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>
  
  <script src="js/script.js"></script>

</body>
</html>