<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css"> 
    <link rel="stylesheet" href="css/style1.css">
</head>

<body>
    <div class="website-container">
	
        <!--   *** Home Section Starts ***   -->
        <section  id="home">
          <!--   === Main Navbar Starts ===   -->
          <nav class="main-navbar">
            <a href="#" class="logo">
              <img src="/images/codemaestro.webp">
            </a>
            <ul class="nav-list">
              <li><a href="/">Home</a></li>
            
              <li><a href="/About">About</a></li>
              <li><a href="/Course">Courses</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
            <a href="/login" class="get-started-btn-container">
              <button class="get-started-btn btn">Sign-in</button>
            </a>
            <div class="menu-btn">
              <span></span>
            </div>
          </nav>
        </section>
        <section class="heading">
          <!--<div class="img-fluid">
            <img src="coaching1.jpg" class="img1"alt="">
          </div>
          <div class="content-about">-->
          <!--<p class="block"><em>Join With Us!!</em></p>-->
          <div class="waviy">
            <span style="--i:1">J</span>
            <span style="--i:2">O</span>
            <span style="--i:3">I</span>
            <span style="--i:4">N</span>
            <span style="--i:5">W</span>
            <span style="--i:6">I</span>
            <span style="--i:7">T</span>
            <span style="--i:8">H</span>
            <span style="--i:9">U</span>
            <span style="--i:10">S</span>
         
           </div>
         
          <p> <a href="/">home >></a> course </p>
          </div>
         </section>
       <section id="course-inner">
        <div class="overview">
            <img src="/images/laravel.png" class="course-img "alt="">
            <div class="course-head">
                <div class="c-name">
                    <h2>NODE.js Course</h2>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-sharp fa-regular fa-star"></i>
                        <i class="fa-sharp fa-regular fa-star"></i>
                    </div>
                    <p><em>Welcome to the course on mastering LARAVEL!a popular php framework for building modern, scalable ,secure web applications.
                        <br>Learn best pratices and advanced techniques for Laravel development, including testing, debugging, and deployment.
                        </em>
                    </p>
                    
                </div>
                <span>$10</span>
                </div>
                <h3>Instructor</h3>
                <div class="tutor">
                    <img src="/images/tapas1.jpg" alt="">
                    <div class="tutor-det">
                        <h5>Tapas Das</h5>
                        <p>Ex Senior Software Developer</p>
                    </div>
                </div>
            
            <hr>
            <h3>Course Overview</h3>
            <p>You will study the fundamentals of Laravel and discover how to use its capabilities to produce web apps of superior quality and to speed up the development process.
                <br> This course is designed to fit your needs, regardless of whether you're an experienced PHP developer looking to improve your skills or a newbie looking to learn Laravel from beginning.
            </p>

            </p>
            <hr>
                <h3>what you'll learn!?</h3>
                <div class="learn">
                    <p><i class="fa-regular fa-pen"></i><u> Introduction to Laravel</u></p>
                  <p class="check"><i class="fa-regular fa-circle-check"></i>What is Laravel?</p> 
                    <p class="check"><i class="fa-solid fa-circle-check"></i>Setting up Laravel Development Environment(Homestead,Valet etc.)</p>
                    <p class="check"><i class="fa-solid fa-circle-check"></i>
                        Understanding Laravel's Philosophy and Features
                        </p>
                  
                    <p><i class="fa-regular fa-pen"></i><u>Laravel MVC Architecture</u></p>
               
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Overview of MVC Architecture</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Laravel's Directory Structure</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Creating Models, Views, and Controllers</p>
                     <p><i class="fa-regular fa-pen"></i><u>Routing in Laravel</u></p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Defining Routes in Laravel</p>
                     
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Route Parameters and Route Naming</p>
                     
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Route Groups and Middleware</p>
                     <p><i class="fa-regular fa-pen"></i><u>Database Management with Eloquent ORM</u></p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Configuring Database Connections</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Creating and Migrating Database Tables</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>CRUD Operations with Eloquent Models</p>
                     <p><i class="fa-regular fa-pen"></i><u>Authentication and Authorization</u></p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Implementing user Authentication</p>
                        <p class="check"><i class="fa-solid fa-circle-check"></i>User Registration and Login</p>
                        
                        <p class="check"><i class="fa-solid fa-circle-check"></i>Role-Based Access Control (RBAC)</p>
                    
                
                
                    
                     

                    

                     <p><i class="fa-regular fa-pen"></i><u>Middleware and Security</u></p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Understanding Middleware in Laravel</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Creating Custom Middleware</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Cross-Site Request Forgery (CSRF) Protection and Other Security Measures</p>

                     <p><i class="fa-regular fa-pen"></i><u>RESTful APIs with Laravel</u></p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Building RESTful Routes</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Creating API Resources and Responses</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Handling API Requests and Responses</p>

                     <p><i class="fa-regular fa-pen"></i><u>Laravel Blade Templating Engine</u></p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Introduction to Blade Templates</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Blade Directives and Control Structures</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Layouts and Blade Components</p>

                     <p><i class="fa-regular fa-pen"></i><u>Testing and Debugging</u></p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Writing Unit Tests in Laravel.</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Testing Controllers, Models, and Routes</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Debugging Techniques and Tools</p>


                     
                </div>
            </div>
            <div class="enroll">
                <h3>This course includes:</h3>
                    <p><i class="fa-regular fa-lightbulb"></i>Hands-on projects,lectures and exercises</p>
                     
                     <p><i class="fa-regular fa-book"></i> Supplementary reading materials, code samples,</p>
                     <p><i class="fa-regular fa-comment"></i>Prerequisites:Basic understanding of PHP programming language.</p>
                     <p><i class="fa-regular fa-hourglass-start"></i>Duration:2 months.</p>
                     <p><i class="fa-regular fa-clipboard-question"></i>Interview preparetion</p>
                    <div class="enroll-btn">
                        <a href="#"class="blue">Enroll Now</a>
                    </div>
            </div>
       </section>
       <section class="footer" id="foot">
    
        <div class="footer-info">
        <div class="footer-links">
          <h3 id="test">Quick Links</h3>
          <ul>
          <li><a href="/"><i class="fa-light fa-greater-than"></i>Home</a></li>
          <li><a href="/About"><i class="fa-light fa-greater-than"></i>About Us</a></li>
          <li><a href="/Course"><i class="fa-light fa-greater-than"></i>Courses</a></li>
          <li><a href="/contact"><i class="fa-light fa-greater-than"></i>Contact</a></li>
            
          </ul>
        </div>
        <div class="footer-map">
          <p><i class="fa-sharp fa-solid fa-location-dot"></i>Address</p>
          <hr>
          <p>Khushi Niwas (2nd Floor), Natagarh Main Rd., Sodepur,<br>
            Kolkata-700113 (Behind Provasini Community Hall)
            
            </p>
            <div class="img">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29445.243178797606!2d88.36878121165563!3d22.703868781469158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x296e29aad18af407%3A0xa69359ed72b8ba77!2sCodeHub%20Sodepur!5e0!3m2!1sen!2sin!4v1710702549842!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" ></iframe>
            </div>
        </div>
  
        </div>
        <div class="copyright">
          <p > Developed by <em>@DevCommunity</em><span>||</span><span>Copyrights Reserved </span></p>
        </div>
      
    </section>
    </div>
	<script src="js/script.js"></script>
</body>
</html>
