<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css"> 
    <link rel="stylesheet" href="css/style1.css">
</head>

<body>
    <div class="website-container">
	
        <!--   *** Home Section Starts ***   -->
        <section  id="home">
          <!--   === Main Navbar Starts ===   -->
          <nav class="main-navbar">
            <a href="#" class="logo">
              <img src="/images/codemaestro.webp">
            </a>
            <ul class="nav-list">
              <li><a href="/">Home</a></li>
            
              <li><a href="/About">About</a></li>
              <li><a href="/Course">Courses</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
            <a href="/login" class="get-started-btn-container">
              <button class="get-started-btn btn">Sign-in</button>
            </a>
            <div class="menu-btn">
              <span></span>
            </div>
            </nav>
            </section>
            
       <section class="heading">
        <!--<div class="img-fluid">
          <img src="coaching1.jpg" class="img1"alt="">
        </div>
        <div class="content-about">-->
        <!--<p class="block"><em>Join With Us!!</em></p>-->
        <div class="waviy">
          <span style="--i:1">J</span>
          <span style="--i:2">O</span>
          <span style="--i:3">I</span>
          <span style="--i:4">N</span>
          <span style="--i:5">W</span>
          <span style="--i:6">I</span>
          <span style="--i:7">T</span>
          <span style="--i:8">H</span>
          <span style="--i:9">U</span>
          <span style="--i:10">S</span>
       
         </div>
       
        <p> <a href="/">home >></a> course </p>
        </div>
       </section>
       <section id="course-inner">
        <div class="overview">
            <img src="/images/seo.jpeg" class="course-img "alt="">
            <div class="course-head">
                <div class="c-name">
                    <h2>SEO Course</h2>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-sharp fa-regular fa-star"></i>
                        <i class="fa-sharp fa-regular fa-star"></i>
                    </div>
                    <p><em>Welcome to the Mastering SEO course! Search Engine Optimization (SEO) is a crucial aspect of digital marketing that focuses on optimizing websites to improve their visibility and ranking on search engine results pages (SERPs).
                        </em></p>
                    
                </div>
                <span>$10</span>
                </div>
                <h3>Instructor</h3>
                <div class="tutor">
                    <img src="/images/tapas1.jpg" alt="">
                    <div class="tutor-det">
                        <h5>Tapas Das</h5>
                        <p>Ex Senior Software Developer</p>
                    </div>
                </div>
            
            <hr>
            <h3>Course Overview</h3>
            <p>Throughout this course, you will delve into the fundamentals of SEO and learn how to implement effective strategies to improve your website's search engine rankings.
                <br> Whether you're a business owner, digital marketer, or website developer, this course is tailored to equip you with the knowledge and skills needed to succeed in the competitive online landscape</p>
            <hr>
                <h3>what you'll learn!?</h3>
                <div class="learn">
                   
                    <p class="check"><i class="fa-regular fa-circle-check"></i>Introduction to SEO(Working of Search Engine,keyword research)</p> 
                    <p class="check"><i class="fa-solid fa-circle-check"></i>On-Page SEO(optimize meta tags, headings, content, images, and URLs for search engines.)</p>
                    <p class="check"><i class="fa-solid fa-circle-check"></i>Off-Page SEO(backlinks, social signals, online reputation management, and local SEO.)</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Technical SEO(crawlability, indexing, and site performance)</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Mobile SEO(responsive design, mobile usability, and mobile site speed optimization.)</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>Content Marketing and SEO</p>
                     <p class="check"><i class="fa-solid fa-circle-check"></i>SEO Analytics and Reporting( Google Analytics and Google Search Console)</p>
                     
                     <p class="check"><i class="fa-solid fa-circle-check"></i>SEO Best Practices and Future Trends(voice search, artificial intelligence (AI), and other technologies are shaping the future of SEO.)</p>
                     
                     
                     
                </div>
            </div>
            <div class="enroll">
                <h3>This course includes:</h3>
                    <p><i class="fa-regular fa-lightbulb"></i>Hands-on projects and exercises</p>
                     <p><i class="fa-regular fa-pen-to-square"></i>Access to SEO tools and analytics platforms( Google Analytics,SEMrush)</p>
                     <p><i class="fa-regular fa-comment"></i>Prerequisites:basic Understanding of online marketing and CMS.</p>
                     <p><i class="fa-regular fa-hourglass-start"></i>Duration: 10  week.</p>
                     <p><i class="fa-regular fa-clipboard-question"></i>Interview preparetion</p>
                    <div class="enroll-btn">
                        <a href="#"class="blue">Enroll Now</a>
                    </div>
            </div>
       </section>
       <section class="footer" id="foot">
    
        <div class="footer-info">
        <div class="footer-links">
          <h3 id="test">Quick Links</h3>
          <ul>
           <li><a href="/"><i class="fa-light fa-greater-than"></i>Home</a></li>
          <li><a href="/About"><i class="fa-light fa-greater-than"></i>About Us</a></li>
          <li><a href="/Course"><i class="fa-light fa-greater-than"></i>Courses</a></li>
          <li><a href="/contact"><i class="fa-light fa-greater-than"></i>Contact</a></li>
          </ul>
        </div>
        <div class="footer-map">
          <p><i class="fa-sharp fa-solid fa-location-dot"></i>Address</p>
          <hr>
          <p>Khushi Niwas (2nd Floor), Natagarh Main Rd., Sodepur,<br>
            Kolkata-700113 (Behind Provasini Community Hall)
            
            </p>
            <div class="img">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29445.243178797606!2d88.36878121165563!3d22.703868781469158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x296e29aad18af407%3A0xa69359ed72b8ba77!2sCodeHub%20Sodepur!5e0!3m2!1sen!2sin!4v1710702549842!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" ></iframe>
            </div>
        </div>
  
        </div>
        <div class="copyright">
          <p > Developed by <em>@DevCommunity</em><span>||</span><span>Copyrights Reserved </span></p>
        </div>
      
    </section>
    </div>
    <script src="js/script.js"></script>
</body>
</html>
